*{
  padding: 0;
  margin: 0;
}
form {
  width: calc((50% - 30px));

  margin: 0 auto;
  padding: 30px;
  border-radius: 30px;
}

#info{
  width: calc((50% - 30px));
  float: left;
  padding: 30px;
border-radius: 50px;
}
.hidden{
  display: none;

}
.active{
  display: block;
  float:left;
  margin-right: 30px;
}

p{
display: block;
}
